/Backend/.vs/WorkinOut/FileContentIndex/ba43a291-ae5e-4698-a707-9da76da3900c.vsidx
# Ignore bin directory
Backend/WorkinOut/bin/

/Backend/WorkinOut/bin/Debug/net7.0/WorkinOut.dll
/Backend/WorkinOut/bin/Debug/net7.0/WorkinOut.exe
/Backend/.vs/WorkinOut/v17/.suo
/Backend/WorkinOut/obj/Debug/net7.0/WorkinOut.AssemblyInfo.cs
/Backend/WorkinOut/obj/Debug/net7.0/WorkinOut.AssemblyInfoInputs.cache
