body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.image {
  margin-right: 50px;
}

.image img {
  max-width: 300px;
  width: 100%;
  height: auto;
}

.text {
  text-align: center;
}

h1 {
  font-size: 360px;
  margin-bottom: 20px;
  color: white;
}

p {
  font-size: 18px;
  margin-bottom: 10px;
}

a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

a:hover {
  background-color: #45a049;
}
