.page-login {
  background-color: hsla(0, 0%, 10%, 0.95);
  height: auto;
}

.mat-dialog-container {
  // Check or adjust styles related to background and height
  background-color: red !important; // Example: Set background to transparent
}
