<mat-sidenav-container
  class="example-sidenav-container block"
  [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
>
  <mat-sidenav
    [opened]="opened"
    #snav
    [mode]="'side'"
    [disableClose]="true"
    [fixedInViewport]="mobileQuery.matches"
    fixedTopGap="56"
  >
    <mat-nav-list>
      <mat-list>
        <mat-list-item>
          <a
            class="hover:bg-gray-100 lg:hover:bg-transparent lg:border-0 lg:hover:text-blue-700 lg:p-0 dark:text-red-600 lg:dark:hover:text-pink-500 dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent block py-2 pl-3 pr-4 text-gray-900 rounded"
            aria-current="page"
            routerLink=""
            routerLinkActive="active"
            >Home</a
          >
        </mat-list-item>
        <mat-list-item>
          <a
            class="hover:bg-gray-100 lg:hover:bg-transparent lg:border-0 lg:hover:text-blue-700 lg:p-0 dark:text-red-600 lg:dark:hover:text-pink-500 dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent block py-2 pl-3 pr-4 text-gray-900 rounded"
            routerLink="person/create"
            routerLinkActive="active"
            >Create profile</a
          >
        </mat-list-item>
        <mat-list-item>
          <a
            class="hover:bg-gray-100 lg:hover:bg-transparent lg:border-0 lg:hover:text-blue-700 lg:p-0 dark:text-red-600 lg:dark:hover:text-pink-500 dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent block py-2 pl-3 pr-4 text-gray-900 rounded"
            routerLink="auth/login"
            routerLinkActive="active"
            >Login</a
          >
          <button mat-button (click)="openLoginDialog()">Open Login</button>
        </mat-list-item>
        <mat-list-item *ngIf="guardUserService.isLoggedIn()">
          <a
            class="hover:bg-gray-100 lg:hover:bg-transparent lg:border-0 lg:hover:text-blue-700 lg:p-0 dark:text-red-600 lg:dark:hover:text-pink-500 dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent block py-2 pl-3 pr-4 text-gray-900 rounded"
            href="http://localhost:4200/person/create"
            routerLinkActive="active"
            >List profiles</a
          >
        </mat-list-item>
        <mat-list-item *ngIf="guardUserService.isLoggedIn()">
          <a
            class="hover:bg-gray-100 lg:hover:bg-transparent lg:border-0 lg:hover:text-blue-700 lg:p-0 dark:text-red-600 lg:dark:hover:text-pink-500 dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent block py-2 pl-3 pr-4 text-gray-900 rounded"
            routerLink="/workout/list"
            routerLinkActive="active"
            >List workout</a
          >
        </mat-list-item>
        <mat-list-item>
          <a
            class="hover:bg-gray-100 lg:hover:bg-transparent lg:border-0 lg:hover:text-blue-700 lg:p-0 dark:text-red-600 lg:dark:hover:text-pink-500 dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent block py-2 pl-3 pr-4 text-gray-900 rounded"
            href="https://github.com/siposm/oktatas-frontend-dev/blob/master/ff-requirements.md"
            routerLinkActive="active"
            >Info</a
          >
        </mat-list-item>
        <mat-list-item>
          <app-page-home-button
            id="register"
            *ngIf="!guardUserService.isLoggedIn(); else sign_out"
            text="Sign up"
            [ngClass]="'btn'"
            (click)="router.navigate(['auth/register'])"
          />
        </mat-list-item>
        <mat-list-item
          ><app-page-home-button
            id="login"
            *ngIf="!guardUserService.isLoggedIn()"
            text="Sign in"
            [ngClass]="'btn'"
            (click)="router.navigate(['auth/login'])"
        /></mat-list-item>
        <ng-template #sign_out>
          <mat-list-item
            ><app-page-home-button
              id="logout"
              text="Sign out"
              type="outlined"
              [ngClass]="'btn'"
              (click)="localStorageService.clear()"
              (click)="router.navigate(['/'])"
          /></mat-list-item>
        </ng-template>
        <div id="navBtn" class="lg:order-1 flex"></div>
      </mat-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content> </ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
