button {
  background: #080809ca;
  border-radius: 0.75em;
  display: block;
  width: 7.5em;
  height: 2em;
  margin-top: 1.2;

  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 1.22rem;
  line-height: 1.9rem;
  color: #d50000;
  cursor: pointer;
  border-radius: 0.75rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;

  text-align: center;
  &:hover {
    background: #d50000;
    color: #fff; // Added text color for hover state
  }
}
